#main-navbar {
  background-color: #fff; /* White background */
  border-bottom: 2px solid #ccc; /* Grey border at the bottom */
  color: #000; /* Black text color */
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0; /* Ensure the navbar starts from the top of the page */
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
}

.navbar-brand {
  font-size: 1.2em;
  margin-left: 10px;
  font-weight: bold; /* Make text bold */
}

#navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 20px; /* Add some space between the brand and links */
}

#navbar-links li {
  margin-right: 20px;
}

#navbar-links li a {
  color: #000; /* Black link color */
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold; /* Make link text bold */
  font-family: 'Arial', sans-serif; /* Use a thicker font */
}

#navbar-links li a:hover {
  color: #666; /* Grey color on hover */
}

#mobile-menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: auto; /* Push the toggle to the far right */
}

#mobile-menu-toggle span {
  background-color: #000; /* Black color */
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  #navbar-links {
    display: none;
    flex-direction: column;
    background-color: #fff; /* Match mobile menu background to navbar */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 0; /* Remove any margin at the top */
    border-top: 2px solid #ccc; /* Add grey border at the top */
  }

  #navbar-links.active {
    display: flex;
  }

  #mobile-menu-toggle {
    display: flex;
  }

  .navbar-brand,
  #navbar-links {
    width: 100%;
  }
}
