/* Existing styles... */

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left; /* Center the text */
}

.status-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.status-red {
    background-color: red;
}

.status-yellow {
    background-color: yellow;
}

.status-green {
    background-color: green;
}

.admin-panel {
    display: none;
    margin-top: 30px;
    width: 50%;
    margin: 0 auto;
}

.admin-panel input,
.admin-panel select,
.admin-panel textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.admin-panel textarea {
    font-family: Arial, sans-serif;
    height: 150px;
    resize: none;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.admin-button {
    background-color: #636569;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.admin-button:hover {
    background-color: grey;
}

.admin-panel:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.admin-panel::placeholder {
    color: #aaa;
}

.admin-panel textarea::placeholder {
    color: #aaa;
}

.admin-panel textarea:hover::placeholder {
    color: #999;
}

.admin-panel textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

th {
  background-color: #85d11a;
  color: white;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.td-center {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
